html {
    height: 100%;
}
body {
    background-color: rgb(255, 254, 251);
    margin: 0%;
    font-family: 'Courier New', monospace;
    font-size: 30px;
    color: rgb(54, 27, 9);
  }
b{
    color: rgb(175, 161, 238);
}
i{
    height: 15%;
    font-size: 130%;
    opacity: 85%;
    padding: 0.1%;
    color:white;
  }
i:hover {
    opacity: 100%
}
.banner{
    height: 110vh;
    background-image: url("imgs/SYD_BANNER.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
.nav{
    background-color: rgb(175, 161, 238);
    position: fixed;
    width: 100vw;
    padding: 10px;
    z-index: 99;
  }
.title{
    font-size: 127%;
    opacity: 100%;
    font-family: "Homemade Apple", cursive;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
.hold{
    padding-top: 65vh;
    color:rgb(255, 254, 251);
    height: 12vh;
  }

.desc {
  height: 40%;
    font-size: 60%;
    padding: 19%;
  }
#anchor {
    display: none;
    position: fixed;
    bottom: 15%;
    right: 1%;
    z-index: 99;
    opacity: 100%; 
    border: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none; 
    cursor: pointer; 
    border-radius: 150px; 
    font-family: 'Courier New', monospace;
    font-weight: 800;
    font-size: 60px; 
  }
.sub {
    background-color: rgba(211, 183, 131, 0.5);
    border-radius: 150px; 
    width:min-content;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #ffffff;

}
#anchor:hover {
    background-color: rgba(0, 0, 0, 0);
} 
.fa-circle-up:hover {
  color: rgb(243, 211, 70);
 }
  .fa-circle-up{
    color: rgba(211, 183, 131, .7);
  }
.foot {
  height: 4vh;
    background-color:rgb(175, 161, 238);
    color: #ffffff;
    font-size: 60%;
    text-align: center;
    padding: 5vh;
}